:root{
    --color:aquamarine;
}
*{
    margin:0px;
    padding:0px;
}

.nav_ul{
    display:flex;
    align-items:center;
    background-color: var(--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding:2%;

    
}
.bName{

    flex-grow: 3;
    /* margin-right: 700px; */
}
.nav_link{
    margin-right:20px;
}
/* .about{
    margin-right:20px;
}
.contact{
    margin-right:20px;
} */
.artical_div{
    width:50%;
    margin:3% 0% 3% 3%;
    
}
.artical_div p{
    margin-top:2vh;
}
.artical_div a{
    background-color: var(--color);;
    padding-top: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    /* padding:10px 15px; */
}
.main_div{
    display:flex;
    margin-top:100px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.img_div{
    border: 1px solid black;
    height: 300px;
    width:250px;
    border-radius: 15px;
    background-color:var(--color);

}
.img_div img{
    border: 1px solid black;
    align-items: center;
    padding:75px;
    margin: 20px;
    border-radius: 15px;

}
.img_div p{
    padding-top: 30px;
    text-align: center;
}
.footer_div{
    display:flex;
    /* flex-wrap: wrap; */
}
.footer_box{
    border: 1px solid black;
    height: 180px;
    width:600px;
    border-radius: 15px;
    margin: 40px;
    background-color:var(--color);
}
.footer_text{
    margin:40px;
}

.srvc{
    text-align: center;
    margin-top:20px;
    /* font-size:20px;
    width: 20px; */
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
    width: 100px;
    margin-left: 50%;
    
}

